@import "tailwindcss";
@import "@org-design-system/core/style.css";

@layer base {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-slate-950);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-black);
      --foreground: var(--color-slate-50);
    }
  }

  .dark {
    --background: var(--color-black);
    --foreground: var(--color-slate-50);
  }

  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}